<div class="list-group">

	{{#each contentArray as |item|}}

		<div class="list-group-item">
		<input type="checkbox" 
 			id="checkbox-toggle" 
 			name="Checkbox" 
 			{{action "CheckBox" on="change"}} />
			<button {{action 'destroyTaskInComponent' item on='click' bubbles=false}} class="badge btn">X</button>

			<h4>{{yield 'sectionTitle' item}}</h4>
			<p>{{yield 'sectionBody' item}}</p>
		</div>


		{{/each}}
</div>
