<h1>New Task</h1>


{{!-- title:
due_date:
description:  --}}

<form {{action 'createTask' on="submit" }}>

	<p>{{input value=model.title}}</p>
	<p>{{input value=model.dueDate type="datetime-local"}}</p>
	<p>{{textarea value=model.description}}</p>
	<button type="submit">Create</button>
</form>
