<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">

		<p>
			{{#link-to 'tasks.new' class="btn btn-info btn-block"}}
				Nueva tarea
			{{/link-to}}
		</p>

		<p>
			{{input value=query class="form-control"}}
		</p>

		<p>
			{{tasksCountLabel}}
		</p>

		<p>
			{{#link-to 'home' (query-params view='past') class="btn btn-default"}}
				Mostrar pasados
			{{/link-to}}

			{{#link-to 'home' (query-params view=null) class="btn btn-default"}}
				Mostrar pendientes
			{{/link-to}}

		</p>

			{{#media-list contentArray=filteredModel
										destroyTaskOutOfComponent=(action 'destroyTaskInController')
										as |sectionName currentItem|
			}}
				{{#if (eq sectionName 'sectionTitle')  }}
					{{upcase currentItem.title}}
				{{/if}}

				{{#if (eq sectionName 'sectionBody')}}
					{{currentItem.description}}
				{{/if}}
			{{/media-list}}
		</div>
	</div>
</div>




